.input-box {
  display: grid;
  gap: 8px;
}

.auth-input {
  padding: 0 15px;
  height: 50px;
  border: 1px solid var(--c-border);
  border-radius: 10px;
  background: var(--c-surface);
  color: var(--c-text);
}

.auth-input::placeholder {
  color: var(--);
}

.auth-input:focus {
  outline: 2px solid var(--c-primary);
}

