.project-card {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: var(--c-primary);
    width: 40%;
    box-shadow: var(--shadow);
    color: var(--c-bg);
    cursor: pointer;
    position: relative;

    .x {
        position: absolute;
        user-select: none;
        top: 5px;
        right: 5px;
        font-size: var(--fs-h1);
        cursor: pointer;
        width: 20px;
        transition: scale .1s ease-in-out;

        &:hover {
            scale: 1.4;
        }
    }


    h2 {
        font-size: var(--fs-h1);
        font-weight: 600;
    }

    p {
        font-size: var(--fs-caption);
        color: var(--c-surface);
    }

    div {
        font-size: var(--fs-caption);
        color: var(--c-bg);
    }

    &:hover {
        background-color: var(--c-primary-dark);
    }
}