.board-card {
    padding: 0 20px 20px;
    background-color: var(--c-primary);
    border-radius: 10px;
    width: 400px;
    min-height: 200px;
    height: fit-content;
    flex-shrink: 0;

    &__title {
        font-size: var(--fs-body);
        color: var(--c-bg);
        font-family: var(--ff-base);
        font-weight: 700;
        text-align: center;
        padding: 15px;
        overflow: hidden;
        position: relative;

        &>.x {
            position: absolute;
            user-select: none;
            top: center;
            transform: translateY(-20%);
            right: 0;
            font-size: var(--fs-h1);
            color: var(--c-bg);
            cursor: pointer;
            width: 20px;
        }

    }
    
    &__tasks-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        min-height: 200px;

        > span:only-child {
            margin: auto;
            text-align: center;
            color: var(--c-bg);
            font-size: var(--fs-body);
        }
    }
}