.project-page {
    width: 100%;

    h1 {
        font-size: var(--fs-big);
        margin-bottom: 10px;
        font-family: var(--ff-accent);
        font-weight: 500;
        text-align: center;
    }

    p {
        font-size: var(--fs-body);
        color: var(--c-text);
        text-align: center;
        margin-top: 20px;
    }
}